@use '../abstracts/variables' as*;
@use '../abstracts/placeholders';

.header {
    @extend %flex-row-sb;
    width: $content-width;
    margin: 0 auto;
    height: max-content;
    align-items: center;
    padding: 17px 0;
}
