
/*************Colors*************/
$primary-color: #2F281E;
$secondary-color: #FF9900;
$additional-color: #544837;

/*************Fonts**************/
$primary-font-family: 'Montserrat';
$primary-font-size: 16px;
$secondary-font-family: 'Gotham';
$additional-font-family: 'Poppins';

/*************Width**************/

$width: 1440px;
$content-width: 1200px;
